.Modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.ModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 5px;
    background-color: #fbfbfb;
    margin-left:  calc((100% - 260px) / 2);

}
.ModalContent h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bolder;
    margin-top: 10px;
    color: #7b7676;
}
.ModalContent > form {
    width: 80%;
    margin: 5px auto;
    border: 1px solid #eee;
    padding: 40px 20px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    box-shadow: 1px 2px #ccc;
    border-radius: 5px;
    background-color: #f5f2f2;
    
}
.ModalContent form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.ModalContent form input:focus{
    border: 1px solid #a6d8a6;
}

.SelectBox {
    display: flex;
    justify-content: space-between;
}
.SelectBox label {
    flex-basis: 50%;
    height: 38px;
    line-height: 38px;
    margin-left: 5px;
}

.BtnGroup {
    text-align: right;
    border-top: 1px solid #888;
    margin-top: 5px;
}
.BtnGroup button {
    margin-top: 30px;
    margin-left: 10px;
}

.Close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.Close:hover, .Close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}