.TableData{
    margin-left: 260px;
    margin-top: 80px;
    padding-right: 10px;
    box-sizing: border-box;
}
.TableData table{
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
    margin-top: 0px !important;
    overflow: auto;
}

.TableData table td, .TableData th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.TableData table tr {
    background-color: #ffffff;
}

.TableData table th {
    text-align: left;
    background-color: #3F51B5;
    color: white;
    text-align: center;
}
.TableData .TableTitle {
    margin-top: 20px;
    background: #3F51B5;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    border-radius: 3px 3px 0 0;
    
}
.TableData .TableTitle > div {
    display: flex;
    justify-content: space-between;
}


.FilterRow {
    display: flex;
    padding: 0px 20px;
    text-align: right;
}
.FilterRow div{
    height: 40px;
    line-height: 40px;
}
.FilterRow div:first-child{
    flex-grow: 25;
    align-items: right;
}
.FilterRow div:last-child{
    flex-grow: 1;
    align-items: right;
}
.FilterRow div:last-child span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    color: gray;
}
.FilterRow div:last-child span:hover{
    background-color: #ccc;
}