.TableData{
    margin-left: 260px;
    margin-top: 80px;
    padding-right: 10px;
}
.TableData table{
    border-collapse: collapse;
    width: 100%;
    margin: 50px auto;
    margin-top: 0px !important;
    overflow: auto;
}

.TableData table td, .TableData th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.TableData table tr {
    background-color: #ffffff;
}

.TableData table th {
    text-align: left;
    background-color: #3F51B5;
    color: white;
    text-align: center;
}
.TableData .TableTitle {
    margin-top: 20px;
    background: #3F51B5;
    color: #fff;
    padding: 16px 30px;
    min-width: 100%;
    border-radius: 3px 3px 0 0;
    
}
.TableData .TableTitle > div {
    display: flex;
    justify-content: space-between;
}
