
.Modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.EditForm{
    z-index: 10000;
    position: absolute;
    background-color: white;
    width: 40%;
    left: calc((100% - 260px) / 2) ;
    top: 10%;
    border-radius: 5px;
    padding: 15px 30px;

}
.EditForm h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: blue;
    border-bottom: 1px solid #ebebeb;
    font-weight: bolder;
}

.EditForm > form > div {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}

.EditForm > form > div > input, .EditForm > form > div > select {
    outline: none;
    padding: 5px 10px;
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.EditForm > form > div > label {
    font-weight: bolder;
}

.ButtonGroup {
    text-align: right;
    padding: 5px 30px;
    border-top: 1px solid #ebebeb;
    margin-top: 10px;

}

.ButtonGroup  button:first-child{
    margin: 10px 10px;
}

