.Content {
    padding: 1.5rem;
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
    height: 100%;
}

.first {
    background: #8892D6!important;
    ;
}

.second {
    background: #45BCE0!important;
}

.third {
    background: #F06292!important;
}

.fourth{
    background: #77C350!important;;
}
.Item {
    margin-bottom: 20px;
}