.UpdatePassword {
    margin-top: 80px;
    margin-left: 280px;
}

.FormUpdate {
    width: 60%;
    min-width: 500px;
    margin: 200px auto;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.FormUpdate div {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
.FormUpdate div input{
    width: 70%;
    padding: 5px 10px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.FormUpdate div input:focus{
    background-color: rgb(243, 240, 240);
}
.FormUpdate h3{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bolder;
    margin-top: 10px;
    color: blue;
}


.BtnGroup {
    text-align: right;
    border-top: 1px solid #888;
    margin-top: 5px;
    display: block !important;
}
.BtnGroup button {
    margin-top: 30px;
    margin-left: 10px;
}