
.MenuBar {
    position: fixed;
    top: 60px;
    left: 0px;
    box-sizing: inherit;
    width: 260px;
    height: 100%;
    background-color: white;
    z-index: 999;
    border-right: 1px solid #eee;
}


.MenuBar ul{
    display: flex;
    flex-flow: column;
}

.MenuBar ul li {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: white;
}
.MenuBar ul li a {
    display: inline-block;
    width: 100%;
    color: Black;
    text-decoration: none;
    padding-left: 20px;
}

.MenuBar ul li a:hover{
    background-color: #eee;
    color: black;
    text-decoration: none;

}