.DeviceManager {
    display: block;
    box-sizing: border-box;
    margin-top: 60px;
    margin-left: 280px;
    min-height: 1200px;
}

.Authen {
    margin: 200px auto;
    text-align: center;
}

.Footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}